<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>html pages</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>

</head>
<body>
    <% include partials/nav.ejs %>
    <h1>Hello, I am serving HTML pages</h1>
    <p>he He he he he</p>
</body>
</html>